.carousel-inner{
    margin-left: 15%;
    margin-right: 15%;
    height: 400px;
    width: auto;
}

#skills{
    text-align: left;
    font-size: 1em;
    /*background-color:#35586C;*/
    height:400px;
    color: #000080;
    font-family: monospace;
    background: radial-gradient(#648880, #293f50);
    /*font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;*/

}
#mySkills{
    height: 700px;
}
