@import url("http://fonts.googleapis.com/css?family=Lato");
.carousel-inner{
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    width: auto;
}
.carousel-control {
    width: 5%;
}

#skills{
    text-align: left;
    font-size: 1em;
    /*background-color:#35586C;*/
    height:400px;
    color: #fff;
    font-family: monospace;
    /*background: radial-gradient(#648880, #293f50);*/
    /*font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;*/

}
#mySkills{
    height: 700px;
}
.container2 {
  width: 450px;
  height: 300px;
  position: relative;
  margin: 40px auto;
  -moz-perspective: 1200px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.box figure {
  display: table;
  position: absolute;
  text-align: center;
  color: white;
}

.box .front,
.box .back {
  width: 450px;
  height: 300px;
}

.box .right,
.box .left {
  width: 150px;
  height: 300px;
}

.box .top,
.box .bottom {
  width: 450px;
  height: 150px;
}

.box .right,
.box .left {
  left: 150px;
}

.box .top,
.box .bottom {
  top: 75px;
}

.box .front,
.box .back {
  background: #002b37;
}

.box .right,
.box .left,
.box .top,
.box .bottom {
  background: #000304;
}

.box .front {
  -moz-transform: translateZ(75px);
  -ms-transform: translateZ(75px);
  -webkit-transform: translateZ(75px);
  transform: translateZ(75px);
}

.box .back {
  -moz-transform: rotateX(-180deg) translateZ(75px);
  -ms-transform: rotateX(-180deg) translateZ(75px);
  -webkit-transform: rotateX(-180deg) translateZ(75px);
  transform: rotateX(-180deg) translateZ(75px);
}

.box .right {
  -moz-transform: rotateY(90deg) translateZ(225px);
  -ms-transform: rotateY(90deg) translateZ(225px);
  -webkit-transform: rotateY(90deg) translateZ(225px);
  transform: rotateY(90deg) translateZ(225px);
}

.box .left {
  -moz-transform: rotateY(-90deg) translateZ(225px);
  -ms-transform: rotateY(-90deg) translateZ(225px);
  -webkit-transform: rotateY(-90deg) translateZ(225px);
  transform: rotateY(-90deg) translateZ(225px);
}

.box .top {
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -webkit-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
}

.box .bottom {
  -moz-transform: rotateX(-90deg) translateZ(150px);
  -ms-transform: rotateX(-90deg) translateZ(150px);
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  transform: rotateX(-90deg) translateZ(150px);
}

.box.show-front {
  -moz-transform: translateZ(-75px);
  -ms-transform: translateZ(-75px);
  -webkit-transform: translateZ(-75px);
  transform: translateZ(-75px);
}

.box.show-back {
  -moz-transform: translateZ(-75px) rotateX(-180deg);
  -ms-transform: translateZ(-75px) rotateX(-180deg);
  -webkit-transform: translateZ(-75px) rotateX(-180deg);
  transform: translateZ(-75px) rotateX(-180deg);
}

.box.show-right {
  -moz-transform: translateZ(-225px) rotateY(-90deg);
  -ms-transform: translateZ(-225px) rotateY(-90deg);
  -webkit-transform: translateZ(-225px) rotateY(-90deg);
  transform: translateZ(-225px) rotateY(-90deg);
}

.box.show-left {
  -moz-transform: translateZ(-225px) rotateY(90deg);
  -ms-transform: translateZ(-225px) rotateY(90deg);
  -webkit-transform: translateZ(-225px) rotateY(90deg);
  transform: translateZ(-225px) rotateY(90deg);
}

.box.show-top {
  -moz-transform: translateZ(-150px) rotateX(-90deg);
  -ms-transform: translateZ(-150px) rotateX(-90deg);
  -webkit-transform: translateZ(-150px) rotateX(-90deg);
  transform: translateZ(-150px) rotateX(-90deg);
}

.box.show-bottom {
  -moz-transform: translateZ(-150px) rotateX(90deg);
  -ms-transform: translateZ(-150px) rotateX(90deg);
  -webkit-transform: translateZ(-150px) rotateX(90deg);
  transform: translateZ(-150px) rotateX(90deg);
}

.box:hover {
  -moz-transform: rotateX(-180deg) translateZ(75px);
  -ms-transform: rotateX(-180deg) translateZ(75px);
  -webkit-transform: rotateX(-180deg) translateZ(75px);
  transform: rotateX(-180deg) translateZ(75px);
}

ul#options {
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
ul#options li {
  float: left;
  margin-right: 5px;
}
ul#options li button {
  outline: none;
  display: block;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 14px;
  background: #002b37;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
ul#options li button:hover {
  background: #000304;
}
ul#options li button.current {
  background: black;
}

p.help {
  text-transform: uppercase;
  margin: 20px;
}

p.link {
  clear: both;
  margin-top: 40px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #002b37;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: black;
}
