.carousel-inner{
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    width: auto;
}
.carousel-control {
    width: 5%;
}

#skills{
    text-align: left;
    font-size: 1em;
    /*background-color:#35586C;*/
    height:400px;
    color: #fff;
    font-family: monospace;
    /*background: radial-gradient(#648880, #293f50);*/
    /*font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;*/

}
#mySkills{
    height: 700px;
}
